<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxops.linfen.dao.mapper.LUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sxops.linfen.dao.model.LUserInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone_num" property="phoneNum" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area_coding" property="areaCoding" jdbcType="INTEGER" />
    <result column="identity_cards" property="identityCards" jdbcType="VARCHAR" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="business_license_num" property="businessLicenseNum" jdbcType="VARCHAR" />
    <result column="customer_type" property="customerType" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="avatarUrl" property="avatarurl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_detele" property="isDetele" jdbcType="TINYINT" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, uuid, user_name, phone_num, sex, address, area_coding, identity_cards, car_number, 
    business_license_num, customer_type, email, avatarUrl, status, is_detele, create_datetime, 
    update_datetime
  </sql>
</mapper>