<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxops.www.linfen.dao.mapper.basic.OperateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sxops.www.linfen.dao.model.basic.OperateLog">
			<id column="id" property="id" />
			<id column="operate_desc" property="operateDesc" />
			<id column="operator_id" property="operatorId" />
			<id column="operator" property="operator" />
			<id column="uri" property="uri" />
			<id column="operate_ip" property="operateIp" />
			<id column="request" property="request" />
			<id column="system" property="system" />
			<id column="operate_time" property="operateTime" />
    </resultMap>

    <!--基本字段列表-->
    <sql id="Base_Column_List">
        id,
        operate_desc,
        operator_id,
        operator,
        uri,
        operate_ip,
        request,
        system,
        operate_time
    </sql>



</mapper>
