<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxops.www.linfen.dao.mapper.journey.JourneyServerMapper" >
  <resultMap id="BaseResultMap" type="com.sxops.www.linfen.dao.model.journey.JourneyServer" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="massage_uuid" property="massageUuid" jdbcType="VARCHAR" />
    <result column="user_info_uuid" property="userInfoUuid" jdbcType="VARCHAR" />
    <result column="originating_place" property="originatingPlace" jdbcType="VARCHAR" />
    <result column="objective_place" property="objectivePlace" jdbcType="VARCHAR" />
    <result column="surplus_number" property="surplusNumber" jdbcType="INTEGER" />
    <result column="number_of_passengers" property="numberOfPassengers" jdbcType="INTEGER" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="es_departure_time" property="esDepartureTime" jdbcType="TIMESTAMP" />
    <result column="es_arrival_time" property="esArrivalTime" jdbcType="TIMESTAMP" />
    <result column="driving_time" property="drivingTime" jdbcType="VARCHAR" />
    <result column="is_top" property="isTop" jdbcType="VARCHAR" />
    <result column="top_time" property="topTime" jdbcType="BIGINT" />
    <result column="top_expiration_date" property="topExpirationDate" jdbcType="TIMESTAMP" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="last_refresh_time" property="lastRefreshTime" jdbcType="TIMESTAMP" />
    <result column="top_weight" property="topWeight" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, massage_uuid, user_info_uuid, originating_place, objective_place, surplus_number, 
    number_of_passengers, describe, es_departure_time, es_arrival_time, driving_time, 
    is_top, top_time, top_expiration_date, enable, last_refresh_time, top_weight, create_time, 
    update_time
  </sql>
</mapper>