<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxops.www.dao.mapper.LJourneyServerMapper" >
  <resultMap id="BaseResultMap" type="com.sxops.www.dao.model.LJourneyServer" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_info_uuid" property="userInfoUuid" jdbcType="VARCHAR" />
    <result column="originating_place" property="originatingPlace" jdbcType="VARCHAR" />
    <result column="objective_place" property="objectivePlace" jdbcType="VARCHAR" />
    <result column="es_departure_time" property="esDepartureTime" jdbcType="TIMESTAMP" />
    <result column="es_arrival_time" property="esArrivalTime" jdbcType="TIMESTAMP" />
    <result column="driving_time" property="drivingTime" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="task_uuid" property="taskUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, user_info_uuid, originating_place, objective_place, es_departure_time, es_arrival_time, 
    driving_time, describe, task_uuid
  </sql>
</mapper>